{% extends "layout.html" %}

{% block body %}
    <div class="p-3 mb-2 bg-white text-dark">
    <h1 class="text-secondary">Bem vindo ao Criador de livros!</h1>
    <div class="form-floating">
</div>
<div class="card mb-3">
  <img src="static/welcome.png" class="rounded mx-auto d-block" alt="Logo">
  <div class="card-body">
    <h5 class="card-title">Ola bem vindo ao criador de livros</h5>
    <p class="card-text">Já se perguntou como e onde posso criar meu livro sem prenecher espaços no meu computador com arquivos!!!</p>
    <p class="card-text">Aqui esta soluçao disso. Este site voê vai poder ciar e modificar qundo quiser seu livro.</p>
    <h5 class="card-title"> Para começas seu livro basta fazer o seu registro <p class="text-success">APROVEITE 🙂🙂🙂🙂🙂🙂🙂🙂🙂🙂🙂</p></h5>
    <p class="card-text"><small class="text-muted">Tenha um otimo dia</small></p>
  </div>

{% endblock %}